# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE
.idea
.DS_Store
.vscode

# Figure
*.png
lets-plot-images/

# weights and biases
mnist_model.json

# Document
DEPLOY.md
DOCKER_BUILD.md